{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ar" class="h-100" dir="rtl">
    
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% translate 'Book Store' %}</title>
    <script defer src="{% static 'js/350.215f0f1f.js' %}"></script>
    <script defer src="{% static 'js/app.aff71b14.js' %}"></script>
    <link href="{% static 'css/350.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body class="d-flex flex-column h-100 bg-light">
  {% include 'partials/header.html' %}

  <main>
    {% block content %}
      
    {% endblock %}
  </main>
  {% include 'partials/footer.html' %}

  <script src="{% static 'js/axios.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/stripe.js' %}"></script>
</body>
</html>
